Repository ronilsonalves/digital-money: changes, and which GitLab CI jobs are due for each by the changed paths.
All: acc_svc_build_stage, acc_svc_deploy_stage, usr_svc_build_stage, usr_svc_deploy_stage

gitlab-ci.yml:

acc_svc_build_stage:
    rules:
    - if: $CI_COMMIT_REF_NAME != "aws-env"
      when: never
    - changes:
      - account-service/**/*  
    stage: build
    image: maven:3-openjdk-17
    environment:
      name: aws_cicd_account_service
    script:
      - cd account-service
      - echo "Building app..."
      - mvn clean install -DskipTests
      - echo "Finished building the app." 
    artifacts:
      expire_in: 1 day
      paths:
          - account-service/target/account-service-0.0.1-SNAPSHOT.jar
          
acc_svc_deploy_stage:
    rules:
    - if: $CI_COMMIT_REF_NAME != "aws-env"
      when: never
    - changes:
      - account-service/**/*      
    stage: deploy
    image: alpine:latest
    environment:
      name: aws_cicd_account_service
    before_script:
        - apk update && apk add openssh-client bash
        - mkdir -p ~/.ssh
        - eval $(ssh-agent -s)
        - echo "$AWS_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
        - touch ~/.ssh/config
        - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        - ssh-keyscan -H $AWS_DEPLOY_SERVER_IP >> ~/.ssh/known_hosts
    script:
        - echo "Deploying started..."
        - ssh ubuntu@$AWS_DEPLOY_SERVER_IP "sudo systemctl stop accounts.service"
        - scp ./account-service/target/account-service-0.0.1-SNAPSHOT.jar ubuntu@$AWS_DEPLOY_SERVER_IP:~/pi/account-service/target
        - ssh ubuntu@$AWS_DEPLOY_SERVER_IP "sudo systemctl start accounts.service"
        - echo "Finished deploying the app."
    dependencies:
        - acc_svc_build_stage 
        
usr_svc_build_stage:
    rules:
    - if: $CI_COMMIT_REF_NAME != "aws-env"
      when: never
    - changes:
      - users-service/**/*  
    stage: build
    image: maven:3-openjdk-17
    environment:
      name: aws_cicd_users_service
    script:
      - cd users-service
      - echo "Building app..."
      - mvn clean install -DskipTests
      - echo "Finished building the app." 
    artifacts:
      expire_in: 1 day
      paths:
          - users-service/target/users-service-0.0.1-SNAPSHOT.jar
          
usr_svc_deploy_stage:
    rules:
    - if: $CI_COMMIT_REF_NAME != "aws-env"
      when: never
    - changes:
      - users-service/**/*      
    stage: deploy
    image: alpine:latest
    environment:
      name: aws_cicd_users_service
    before_script:
        - apk update && apk add openssh-client bash
        - mkdir -p ~/.ssh
        - eval $(ssh-agent -s)
        - echo "$AWS_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
        - touch ~/.ssh/config
        - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        - ssh-keyscan -H $AWS_DEPLOY_SERVER_IP >> ~/.ssh/known_hosts
    script:
        - echo "Deploying started..."
        - ssh ubuntu@$AWS_DEPLOY_SERVER_IP "sudo systemctl stop users.service"
        - scp ./users-service/target/users-service-0.0.1-SNAPSHOT.jar ubuntu@$AWS_DEPLOY_SERVER_IP:~/pi/users-service/target
        - ssh ubuntu@$AWS_DEPLOY_SERVER_IP "sudo systemctl start users.service"
        - echo "Finished deploying the app."
    dependencies:
        - usr_svc_build_stage

:construction_worker: feat: aws-env ci/cd
  .gitlab-ci.yml
Due: none

feat: add get last five transactions
  account-service/src/main/java/com/digitalhouse/money/accountservice/controller/TransactionController.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/model/Transaction.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/TransactionService.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/TransactionServiceImpl.java
Due: acc_svc_build_stage, acc_svc_deploy_stage

🚀 feat: fix add get last five transactions
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/TransactionServiceImpl.java
Due: acc_svc_build_stage, acc_svc_deploy_stage

🚀 cd: impl service discovery in kubernetes
  account-service/account-deployment.yaml
  account-service/src/main/resources/application.yml
  service-discovery/discovery-deployment.yaml
  service-discovery/discovery-svc.yaml
  users-service/src/main/resources/application.yml
  users-service/users-deployment.yaml
Due: acc_svc_build_stage, acc_svc_deploy_stage, usr_svc_build_stage, usr_svc_deploy_stage

🚀 cd: impl service discovery in kubernetes
  account-service/account-deployment.yaml
Due: acc_svc_build_stage, acc_svc_deploy_stage

:adhesive_bandage: fix: vm service restart
  .gitlab-ci.yml
Due: none

🐛 fix: error when listing transactions.
  account-service/src/main/java/com/digitalhouse/money/accountservice/controller/TransferController.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/dto/TransactionResponseDTO.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/model/Transaction.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/TransactionServiceImpl.java
Due: acc_svc_build_stage, acc_svc_deploy_stage

✨ feat: list last five accounts where user transferred money.
  account-service/src/main/java/com/digitalhouse/money/accountservice/AccountServiceApplication.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/config/feign/FeignConfiguration.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/config/feign/OAAuth2ClientCredentialsFeignManager.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/controller/TransferController.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/dto/ILastFiveTransfers.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/dto/LastFiveTransfersDTO.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/dto/UserResponse.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/repository/IUserFeignRepository.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/repository/TransactionRepository.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/TransactionService.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/TransactionServiceImpl.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/api/service/iplm/UserServiceImpl.java
Due: acc_svc_build_stage, acc_svc_deploy_stage, usr_svc_build_stage, usr_svc_deploy_stage

fix: user auth verification for post and delete card
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/CardServiceImpl.java
Due: acc_svc_build_stage, acc_svc_deploy_stage

fix user auth verification
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/CardServiceImpl.java
Due: acc_svc_build_stage, acc_svc_deploy_stage

fix: vm service restart
  .gitlab-ci.yml
Due: none

hotfix: user auth verification
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/CardServiceImpl.java
Due: acc_svc_build_stage, acc_svc_deploy_stage

🐛 fix: user access sensible account information of another user
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/AccountServiceImpl.java
Due: acc_svc_build_stage, acc_svc_deploy_stage

🐛 fix: date validation field allowing dates before today
  account-service/src/main/java/com/digitalhouse/money/accountservice/controller/TransferController.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/response/TransfersPage.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/TransactionServiceImpl.java
Due: acc_svc_build_stage, acc_svc_deploy_stage

Api testing
  APITesting/src/test/java/com/APITesting/APITesting/AccountCreationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/AccountDataVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/CardsByIdVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/CardsCreationRouteTest.java
  APITesting/src/test/java/com/APITesting/APITesting/CardsDeleteRouteTest.java
  APITesting/src/test/java/com/APITesting/APITesting/CardsVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/PasswordResetTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsRouteTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransfersRouteTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransfersRouteVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/UsersDataPatchTest.java
  APITesting/src/test/java/com/APITesting/APITesting/UsersDataVisualizationTest.java
Due: none

✨ feat: functional mail service in GoLang for notification
  account-service/pom.xml
  account-service/src/main/java/com/digitalhouse/money/accountservice/config/rabbit/RabbitMQSenderConfig.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/config/rabbit/RabbitTemplateConfig.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/dto/MailMessageDTO.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/dto/UserResponse.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/AccountServiceImpl.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/CardServiceImpl.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/TransactionServiceImpl.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/util/MailConstructor.java
  account-service/src/main/resources/application.yml
  mail-service/cmd/server/main.go
  mail-service/go.mod
  mail-service/go.sum
  mail-service/internal/domain/MsgRequest.go
  mail-service/internal/domain/Transaction.go
  mail-service/internal/domain/User.go
  mail-service/internal/msg/service.go
  mail-service/pkg/middleware/resource_server.go
  mail-service/pkg/queue/consumer.go
  mail-service/pkg/sd/eureka.go
  mail-service/pkg/web/response.go
  users-service/pom.xml
  users-service/src/main/java/com/digitalhouse/money/usersservice/api/controller/UserController.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/api/request/MailMessageDTO.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/api/request/UserVerificationCodeRequestBody.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/api/response/UserResponse.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/api/service/UserService.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/api/service/iplm/UserServiceImpl.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/config/rabbit/RabbitMQSenderConfig.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/config/rabbit/RabbitTemplateConfig.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/data/model/User.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/data/repository/IUserKeycloakRepository.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/data/repository/KeycloakRepository.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/data/repository/UserRepository.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/util/MailConstructor.java
  users-service/src/main/resources/application.yml
Due: acc_svc_build_stage, acc_svc_deploy_stage, usr_svc_build_stage, usr_svc_deploy_stage

♻️ refactor: util method to verify if user is getting the own data
  users-service/src/main/java/com/digitalhouse/money/usersservice/api/service/iplm/UserServiceImpl.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/util/VerifyAuthenticationUtil.java
Due: usr_svc_build_stage, usr_svc_deploy_stage

🐛 fix: error fetching data from user caused by ProcessingException
  account-service/pom.xml
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/TransactionServiceImpl.java
  account-service/src/main/resources/application.yml
  users-service/src/main/java/com/digitalhouse/money/usersservice/api/controller/UserController.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/config/KeycloakClientConfig.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/data/repository/KeycloakRepository.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/exceptionhandler/ExceptionControllerAdvice.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/exceptionhandler/ServerException.java
Due: acc_svc_build_stage, acc_svc_deploy_stage, usr_svc_build_stage, usr_svc_deploy_stage

:white_check_mark: test: updating restassured automated tests
  APITesting/src/test/java/com/APITesting/APITesting/AccountDataVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsRouteTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransfersRouteTest.java
Due: none

✅ test: updating restassured automated tests
  APITesting/src/test/java/com/APITesting/APITesting/AccountDataVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsRouteTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransfersRouteTest.java
Due: none

feat: add filter to activity endpoint
  account-service/src/main/java/com/digitalhouse/money/accountservice/controller/AccountController.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/controller/TransactionController.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/controller/TransferController.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/dto/TransactionFilterRequestDTO.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/enums/ActivityType.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/repository/AccountRepository.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/repository/TransactionRepository.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/response/PageResponse.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/AccountService.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/TransactionService.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/AccountServiceImpl.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/TransactionServiceImpl.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/specs/TransactionFilterSpecification.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/util/VerifyAuthenticationUtil.java
Due: acc_svc_build_stage, acc_svc_deploy_stage

feat: get transaction details by id
  account-service/src/main/java/com/digitalhouse/money/accountservice/controller/TransactionController.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/TransactionService.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/TransactionServiceImpl.java
Due: acc_svc_build_stage, acc_svc_deploy_stage

:rocket: feat: kubernetes-env configuration
  .env
  account-service/Dockerfile
  account-service/account-deployment.yaml
  account-service/account-svc.yaml
  account-service/auth.pi.ronilsonalves.com.cer
  account-service/src/main/resources/application.yml
  docker-compose.yaml
  service-discovery/Dockerfile
  service-discovery/discovery-deployment.yaml
  service-discovery/discovery-svc.yaml
  users-service/Dockerfile
  users-service/auth.pi.ronilsonalves.com.cer
  users-service/src/main/resources/application.yml
  users-service/users-deployment.yaml
  users-service/users-svc.yaml
Due: acc_svc_build_stage, acc_svc_deploy_stage, usr_svc_build_stage, usr_svc_deploy_stage

✨ feat: add pdf transaction receipt and mail notify improvement
  account-service/pom.xml
  account-service/src/main/java/com/digitalhouse/money/accountservice/config/S3Config.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/config/ThymeLeafTemplateConfig.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/controller/TransactionController.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/controller/TransferController.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/PdfGenUploadService.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/TransactionService.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/CardServiceImpl.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/PdfGenUploadServiceImpl.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/service/impl/TransactionServiceImpl.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/util/MailConstructor.java
  account-service/src/main/resources/application.yml
  account-service/src/main/resources/templates/mail/add_card.html
  account-service/src/main/resources/templates/mail/add_money.html
  account-service/src/main/resources/templates/mail/del_card.html
  account-service/src/main/resources/templates/mail/transfer_money.html
  account-service/src/main/resources/templates/pdf/deposit_receipt.html
  account-service/src/main/resources/templates/pdf/transfer_receipt.html
  users-service/pom.xml
  users-service/src/main/java/com/digitalhouse/money/usersservice/config/ThymeLeafTemplateConfig.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/util/MailConstructor.java
  users-service/src/main/resources/templates/mail/activation_email.html
  users-service/src/main/resources/templates/mail/email_activated.html
  users-service/src/main/resources/templates/mail/resend_code.html
Due: acc_svc_build_stage, acc_svc_deploy_stage, usr_svc_build_stage, usr_svc_deploy_stage

:hammer: refactor: neearly done docker-compose
  .mail-env
  docker-compose.yaml
  mail-service/.env
  mail-service/Dockerfile
Due: none

:hammer: refactor: updating configuration
  .env
  .mail-env
  account-service/Dockerfile
  account-service/account-deployment.yaml
  mail-service/mail-deployment.yaml
  mail-service/mail-svc.yaml
  service-discovery/discovery-deployment.yaml
  users-service/users-deployment.yaml
Due: acc_svc_build_stage, acc_svc_deploy_stage, usr_svc_build_stage, usr_svc_deploy_stage

:zap: perf: finalized infra
  .keycloak-env
  docker-compose.yaml
  keycloak/import/realm-export.json
  keycloak/keycloak-deployment.yaml
  keycloak/keycloak-svc.yaml
Due: none

:zap: perf: finalized infra
  keycloak/import/realm-export.json
Due: none

Kubernetes env
  .env
  .keycloak-env
  .mail-env
  account-service/Dockerfile
  account-service/account-deployment.yaml
  account-service/account-svc.yaml
  account-service/auth.pi.ronilsonalves.com.cer
  account-service/src/main/resources/application.yml
  docker-compose.yaml
  keycloak/import/realm-export.json
  keycloak/keycloak-deployment.yaml
  keycloak/keycloak-svc.yaml
  mail-service/.env
  mail-service/Dockerfile
  mail-service/mail-deployment.yaml
  mail-service/mail-svc.yaml
  service-discovery/Dockerfile
  service-discovery/discovery-deployment.yaml
  service-discovery/discovery-svc.yaml
  users-service/Dockerfile
  users-service/auth.pi.ronilsonalves.com.cer
  users-service/src/main/resources/application.yml
  users-service/users-deployment.yaml
Due: acc_svc_build_stage, acc_svc_deploy_stage, usr_svc_build_stage, usr_svc_deploy_stage

:hammer: refactor: restoring local app.yml configurations
  account-service/src/main/resources/application.yml
  users-service/src/main/resources/application.yml
Due: acc_svc_build_stage, acc_svc_deploy_stage, usr_svc_build_stage, usr_svc_deploy_stage

🐛 hotfix: error sending verification email
  mail-service/internal/msg/service.go
  users-service/src/main/java/com/digitalhouse/money/usersservice/util/MailConstructor.java
  users-service/src/main/resources/templates/mail/activation_email.html
  users-service/src/main/resources/templates/mail/resend_code.html
Due: usr_svc_build_stage, usr_svc_deploy_stage

✨ feat: add pdf transaction receipt and mail notify improvement
  .env
  .keycloak-env
  .mail-env
  account-service/Dockerfile
  account-service/account-deployment.yaml
  account-service/account-svc.yaml
  account-service/auth.pi.ronilsonalves.com.cer
  account-service/src/main/resources/application.yml
  docker-compose.yaml
  keycloak/import/realm-export.json
  keycloak/keycloak-deployment.yaml
  keycloak/keycloak-svc.yaml
  mail-service/.env
  mail-service/Dockerfile
  mail-service/internal/msg/service.go
  mail-service/mail-deployment.yaml
  mail-service/mail-svc.yaml
  service-discovery/Dockerfile
  service-discovery/discovery-deployment.yaml
  service-discovery/discovery-svc.yaml
  users-service/Dockerfile
  users-service/auth.pi.ronilsonalves.com.cer
  users-service/src/main/java/com/digitalhouse/money/usersservice/util/MailConstructor.java
  users-service/src/main/resources/application.yml
  users-service/src/main/resources/templates/mail/activation_email.html
  users-service/src/main/resources/templates/mail/resend_code.html
  users-service/users-deployment.yaml
Due: acc_svc_build_stage, acc_svc_deploy_stage, usr_svc_build_stage, usr_svc_deploy_stage

:white_check_mark: test:updating restassured automated tests
  APITesting/src/test/java/com/APITesting/APITesting/AccountActivityVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/AccountCreationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/ActivityTypeVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionIDVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsOrderVisualization.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsRouteTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsVisualizationByAmountTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsVisualizationByDateTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransfersRouteTest.java
Due: none
