Repository ronilsonalves/digital-money: changes, and which GitLab CI jobs are due for each by the changed paths.
All: acc_svc_build_stage, acc_svc_deploy_stage, usr_svc_build_stage, usr_svc_deploy_stage

acc_svc_build_stage:
  stage: build
  image: maven:3-openjdk-17
  environment:
    name: aws_cicd_account_service
  script:
  - cd account-service
  - echo "Building app..."
  - mvn clean install -DskipTests
  - echo "Finished building the app."
  artifacts:
    expire_in: 1 day
    paths:
  ...

acc_svc_deploy_stage:
  stage: deploy
  image: alpine:latest
  environment:
    name: aws_cicd_account_service
  before_script:
  - apk update && apk add openssh-client bash
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$AWS_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - touch ~/.ssh/config
  ...

usr_svc_build_stage:
  stage: build
  image: maven:3-openjdk-17
  environment:
    name: aws_cicd_users_service
  script:
  - cd users-service
  - echo "Building app..."
  - mvn clean install -DskipTests
  - echo "Finished building the app."
  artifacts:
    expire_in: 1 day
    paths:
    - users-service/target/users-service-0.0.1-SNAPSHOT.jar

usr_svc_deploy_stage:
  stage: deploy
  image: alpine:latest
  environment:
    name: aws_cicd_users_service
  before_script:
  - apk update && apk add openssh-client bash
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$AWS_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - touch ~/.ssh/config
  ...

✅ test: updating restassured automated tests
  APITesting/src/test/java/com/APITesting/APITesting/AccountActivityVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/AccountCreationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/ActivityTypeVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionIDVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsOrderVisualization.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsRouteTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsVisualizationByAmountTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsVisualizationByDateTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransfersRouteTest.java
Due: none

:bug: fix: added feign annotation for docker/kubernetes environment
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/repository/IUserFeignRepository.java
Due: acc_svc_build_stage, acc_svc_deploy_stage

🔧 refactor!: Dockerfile to build a smaller image and change env mail var values
  mail-service/.env
  mail-service/Dockerfile
  mail-service/internal/msg/service.go
  mail-service/pkg/queue/consumer.go
Due: none

🐛 hotfix: 409 error adding a new card and not updating fields from a user
  account-service/src/main/java/com/digitalhouse/money/accountservice/util/MailConstructor.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/api/service/iplm/UserServiceImpl.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/data/repository/KeycloakRepository.java
Due: acc_svc_build_stage, acc_svc_deploy_stage, usr_svc_build_stage, usr_svc_deploy_stage

✨ feat: add pdf transaction receipt and mail notify improvement
  APITesting/src/test/java/com/APITesting/APITesting/AccountActivityVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/AccountCreationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/ActivityTypeVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionIDVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsOrderVisualization.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsRouteTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsVisualizationByAmountTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsVisualizationByDateTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransfersRouteTest.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/data/repository/IUserFeignRepository.java
  account-service/src/main/java/com/digitalhouse/money/accountservice/util/MailConstructor.java
  mail-service/.env
  mail-service/Dockerfile
  mail-service/internal/msg/service.go
  mail-service/pkg/queue/consumer.go
  users-service/src/main/java/com/digitalhouse/money/usersservice/api/service/iplm/UserServiceImpl.java
  users-service/src/main/java/com/digitalhouse/money/usersservice/data/repository/KeycloakRepository.java
Due: acc_svc_build_stage, acc_svc_deploy_stage, usr_svc_build_stage, usr_svc_deploy_stage

:hammer: refactor: updating mail-env variables
  .mail-env
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsRouteTest.java
Due: none

:hammer: refactor: updating test account
  APITesting/src/test/java/com/APITesting/APITesting/AccountActivityVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/AccountCreationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/AccountDataVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/CardsByIdVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/CardsCreationRouteTest.java
  APITesting/src/test/java/com/APITesting/APITesting/CardsDeleteRouteTest.java
  APITesting/src/test/java/com/APITesting/APITesting/CardsVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/LoginTest.java
  APITesting/src/test/java/com/APITesting/APITesting/LogoutTest.java
  APITesting/src/test/java/com/APITesting/APITesting/PasswordResetTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionIDVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsOrderVisualization.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsRouteTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsVisualizationByAmountTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransactionsVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransfersRouteTest.java
  APITesting/src/test/java/com/APITesting/APITesting/TransfersRouteVisualizationTest.java
  APITesting/src/test/java/com/APITesting/APITesting/UsersDataPatchTest.java
  APITesting/src/test/java/com/APITesting/APITesting/UsersDataVisualizationTest.java
Due: none

:hammer: refactor: correcting keycloak-svc
  keycloak/keycloak-svc.yaml
Due: none

:hammer: refactor: updating mail--svc variables
  mail-service/mail-deployment.yaml
Due: none

Path conditions:
  acc_svc_build_stage: any of: account-service/**/*
  acc_svc_deploy_stage: any of: account-service/**/*
  usr_svc_build_stage: any of: users-service/**/*
  usr_svc_deploy_stage: any of: users-service/**/*
